---
layout: default
title: Activities
banner: images/img7.jpg
position: center 10%
---

<h1>Featured Teaching</h1>

<div class="row 200%">
  <div class="12u">
    {% for presentation in site.data.teaching %}
    <strong><a href="{{ presentation.link }}">{{ presentation.title }}</a></strong>
    <p>{{ presentation.description }}</p>
    <div class="grayline"></div>
    {% endfor %}
    </header>
  </div>
</div>

<h1>Featured Talks</h1>

<div class="row 200%">
  <div class="12u">
    {% for presentation in site.data.talks %}
    <strong><a href="{{ presentation.link }}">{{ presentation.title }}</a></strong>
    <p>{{ presentation.description }}</p>
    <div class="grayline"></div>
    {% endfor %}
    </header>
  </div>
</div>

</br>
</br>