---
layout: default
title: Research
banner: images/jpg3.jpg
position: center 60%
---


<h1>Featured Publications</h1>

{% include featured.html %}

<h1>Research Areas</h1>
<table>
    <tbody>
    {% for area in site.data.areas %}
    <tr>
        <td style="text-align: center; font-weight: bold;">
        <a href="area.html?id={{ area.id }}">{{ area.area }}</a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<h1>Publications</h1>

<div class ="12u">
    (* denotes equal contribution, α-β denotes full or partial alphabetical ordering)
</div>

</br>
<div class="row 200%">
    <div class="12u">
        {% for publication in site.data.publications %}
        <strong><a href="{{ publication.url }}">{{ publication.name }}</a></strong>
        <p> {{ publication.note }} {{ publication.authors }}. ({{ publication.year }}). <i>{{ publication.venue }}</i>
        <details>
            <summary>Description</summary>
            <blockquote>
                {{ publication.description }}
            </blockquote>
        </details>
        </p>
        <div class="grayline"></div>
        {% endfor %}
        </header>
    </div>
</div>

</br>