---
layout: default
title: Research
banner: images/jpg3.jpg
---


<h1>Featured Publications</h1>

{% include featured.html %}

<h1>Publications</h1>

<div class ="12u">
    (* denotes equal contribution, α-β denotes alphabetical ordering)
</div>

</br>
<div class="row 200%">
    <div class="12u">
        {% for publication in site.data.publications %}
        <h3><a href="{{ publication.url }}">{{ publication.name }}</a></h3>
        <p> {{ publication.note }} {{ publication.authors }}
            <br><strong>{{ publication.venue }}</strong>, {{ publication.year }}
        <details>
            <summary>Description</summary>
            <blockquote>
                {{ publication.description }}
            </blockquote>
        </details>
        </p>
        <div class="grayline"></div>
        {% endfor %}
        </header>
    </div>
</div>