<!doctype html>
<html>

<head>
    <title>Intensify by TEMPLATED</title>
    <meta charset="utf-8">
    <meta name="robots" content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="assets/css/main.css">
    <link rel="icon" type="image/jpg" href="images/fav2.jpg" />
    <title>{{ page.title }}</title>
</head>

<body>
    <!-- Header -->
    <header id="header">
        <nav class="left">
            <a href="index.html" class="logo">Ana Trisovic</a>
        </nav>

        {% include navigation.html %}
    </header>

    {% if page.url == "/" or page.name == "index.html" %}
    <!-- Banner -->
    <section id="banner">
        <div class="content" style="width: 50%;">
            <div style="margin: 0 20%;">
                <h1>Ana Trisovic</h1>
                <p>Research Scientist
                    <br>
                <div class="line"></div>Computer
                Science and Artificial Intelligence Laboratory (CSAIL) & <br> MIT Sloan School Of Management</p>
                <ul class="icons" style="display: flex; justify-content: center; align-items: center;">
                    <li><a href="https://twitter.com/atrisovic" class="icon fa-twitter"><span
                                class="label">Twitter</span></a>
                    </li>
                    <li><a href="https://www.linkedin.com/in/ana-trisovic-48548636/" class="icon fa-linkedin"><span
                                class="label">LinkedIn</span></a></li>
                    <li><a href="https://www.instagram.com/atrisovic" class="icon fa-instagram"><span
                                class="label">Instagram</span></a></li>
                    <li><a href="https://github.com/atrisovic" class="icon fa-github"><span
                                class="label">Github</span></a>
                    </li>
                    <li><a href="https://scholar.google.com/citations?user=pXNKpl8AAAAJ" class="icon fa-book"><span
                                class="label">Scholar</span></a></li>
                    <li><a href="mailto:ana_tris@mit.edu" class="icon fa-envelope"><span class="label">Email</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    {% else %}
    <div id="banner-alt" style="background-image: url('{{page.banner}}');">
    </div>
    {% endif %}

    <section id="main" class="wrapper">
        <div class="inner">
            <div class="content">
                {{ content }}
            </div>
        </div>
    </section>
    <!-- Footer -->
    <footer id="footer">

        <div class="inner">
            <!-- h2>Get In Touch</h2 -->
            <ul class="actions">
                <li><span class="icon fa-twitter"></span><a href="https://twitter.com/atrisovic"><span class="label">
                            Twitter</span></a></li></br>
                <li><span class="icon fa-linkedin"></span><a
                        href="https://www.linkedin.com/in/ana-trisovic-48548636/"><span class="label"></span>
                        LinkedIn</span></a></li></br>
                <li><span class="icon fa-instagram"></span><a href="https://www.instagram.com/atrisovic"><span
                            class="label"> Instagram</span></a></li></br>
                <li><span class="icon fa-github"></span><a href="https://github.com/atrisovic"><span class="label">
                            GitHub</span></a></li></br>
                <li><span class="icon fa-book"></span> <a
                        href="https://scholar.google.com/citations?user=pXNKpl8AAAAJ"><span class="label">
                            Scholar</span></a></li></br>
                <li><span class="icon fa-envelope"></span> <a href="mailto:ana_tris@mit.edu"><span class="label">
                            Email</span></a></li></br>
                <li><span class="icon fa-map-marker"></span> 32G-724</li></br>
            </ul>
        </div>
    </footer>

    <div class="copyright">
        Powered by: <a href="https://templated.co/">TEMPLATED</a>.
    </div>
</body>

</html>