<h1>Biography</h1>
<p>
    I am a Research Scientist at the <strong><a href="https://futuretech.mit.edu">FutureTech</a></strong> Lab at the
    Massachusetts Institute of Technology (MIT). I have affiliations with the Computer Science and Artificial
    Intelligence Laboratory (CSAIL) and the MIT Sloan School of Management. I am also an Associate at the
    <strong><a href="https://www.iq.harvard.edu">Institute for Quantitative Social Science (IQSS)</a></strong> at
    Harvard University and a Fellow of the NSF SeekCommons program, and a Fellow of the BSC Excelencia Severo Ochoa
    Mobility Grant program. My work focuses on exploring the intersection of artificial intelligence (AI), science, and
    society, aiming to advocate for improved research practices and policies. I specialize in topics such as the science
    of science, open-source software and AI, computational social science, and research reproducibility. Currently, I am
    examining the AI trends in science, focusing on its applications, scaling effects, potential for de-democratization,
    and the importance of open-source solutions. Additionally, I am interested in climate research, particularly in
    extreme climate events, environmental justice, and the applications of AI for climate solutions.
</p>
<p>
    Before joining MIT, I was a Research Associate in <strong><a href="https://www.hsph.harvard.edu/nsaph/">the National
            Studies on Air Pollution and Health (NSAPH)</a></strong> group within the Department of Biostatistics at
    Harvard T.H. Chan School of Public Health and a Postdoctoral Scholar at Harvard University's <strong><a
            href="https://www.iq.harvard.edu">Institute for Quantitative Social Science</a></strong>. My work included
    contributions to several notable projects, including the <strong><a
            href="https://sites.harvard.edu/harvard-data-commons/about/">Harvard Data Commons</a></strong> and the
    <strong><a href="https://dataverse.org">Dataverse</a></strong> project.
    I was a CLIR Postdoctoral Fellow at the University of Chicago in 2019, collaborating with the Energy Policy
    Institute (EPIC) and the Library.
    I completed my Ph.D. in 2018 at the <strong><a href="https://www.cam.ac.uk">University of Cambridge</a></strong> and
    <strong><a href="https://home.web.cern.ch">CERN</a></strong>, where I contributed to the <strong><a
            href="http://lhcb.web.cern.ch/lhcb/">Large Hadron Collider Beauty experiment (LHCb)</a></strong>, CERN Open
    Data, and CERN Analysis Preservation, and was later recognized as a Breakthrough Prize in Fundamental Physics
    Laureate as part of the LHCb Collaboration.
    During my doctoral studies, I received the Muir Wood Studentship from Newnham College, the CERN Doctoral Student
    fellowship, and the Google Anita Borg Memorial Scholarship (Women Techmakers).
</p>

<h1>Professional Services</h1>

<p>
    In my professional engagements, I am eager to contribute to the broader academic and research community. I am an
    editor for <strong><a href="https://joss.theoj.org">the Journal of Open-Source Software (JOSS)</a></strong> and a
    review board member for the Journal of Systems Research (JSys). I am an Early-Career Board member at the Harvard
    Data Science Review.
    I served as a committee member for IEEE eScience 2023, Supercomputing 2024, and the <a
        href="https://acm-rep.github.io/2025/">2025 ACM Conference on Reproducibility and Replicability</a>.
</p>
<p>
    I am a proud member of the United States National Committee for the Committee on Data of the International Science
    Council (CODATA) under the National Academies of Sciences, Engineering, and Medicine (NASEM).
</p>