{% for publication in site.data.featured %}
<!-- Publication {{ forloop.index }} -->
<div class="flex-item box">
    <div class="image fit">
        <img src="{{ publication.image }}" alt="{{ publication.alt }}" style="border: 1px solid #dee1e3;">
    </div>
    <div class="content">
        <div style="font-size: 0.8em;">
            <h3><a href="{{ publication.url }}">{{ publication.name }}</a></h3>
            <span>{{ publication.authors }}</span><br>
            <span><strong>{{ publication.venue }}</strong>, {{ publication.year }}</span>
        </div>
    </div>
</div>
{% endfor %}