{% for publication in site.data.featured %}
    {% assign mod = forloop.index0 | modulo: 3 %}
    {% if mod == 0 %}
    <section id="three" class="wrapper">
        <div class="inner flex flex-3">
    {% endif %}

    <!-- Publication {{ forloop.index }} -->
    <div class="flex-item box">
        <div class="image fit">
            <img src="{{ publication.image }}" alt="{{ publication.alt }}" style="border: 1px solid #dee1e3;">
        </div>
        <div class="content">
            <div style="font-size: 0.8em;">
                <h3><a href="{{ publication.url }}">{{ publication.name }}</a></h3>
                <span>{{ publication.note }} {{ publication.authors }}</span><br>
                <span><em>{{ publication.venue }}</em>, {{ publication.year }}</span>
            </div>
        </div>
    </div>

    {% if mod == 2 %}
        </div>
    </section>
    {% endif %}
{% endfor %}