<div class="content">
    <h1> </h1>
    <p>
        Ana Trišović is a Research Scientist at the FutureTech Lab, Massachusetts Institute of Technology, with affiliations at the Computer Science and Artificial Intelligence Laboratory, the MIT Sloan School of Management, and Harvard University’s Institute for Quantitative Social Science. Her work lies at the intersection of AI, science, and society, advancing research practices and policy. Current projects explore AI trends in research, its applications, scaling effects, risks of de-democratization, and the role of open-source solutions, as well as AI for climate resilience, with a focus on extreme events and adaptation strategies.
    </p>

    <div class="box">
        <div class="content">
            FutureTech Lab welcomes fellow researchers and students interested in collaborative research!
            If you are interested in exploring research opportunities with me, feel free to reach out. You can contact
            me via email at ana_tris at mit dot edu. I am always enthusiastic about discussing potential research
            projects.
        </div>
    </div>
</div>